section{
background-color:#F5F4F1;
/* width:70%; */
padding:20px;
display:inline-block;
/* width:50%; */
}
div{
display:inline-block;
/* border:1px solid blue; */
}
.img{
text-align:right;
padding-right:10px;
border-right:2px solid #BC8C59;
font-weight:bold;
}
.text{
vertical-align:top;
padding:0 20px 0 10px;
font:26px/1 serif;
width:120px;
}